/* base style */

$firstColor: #e1e8f1;
$secondColor: #efefef;

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  user-select: none;
  transition: all 0.1s;
}

html, main, body { 
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  display: flex;
}

button {
  border: none;
  background: none;
  margin: 12px 12px 8px 12px;
  cursor: pointer;
}

.field {
  width: 100%;
  height: 100%;
  background: #efefef;
}

.btn {
  margin: 0 10px 0 0;
  padding: 10px;
  border-radius: 50px;
  border: none;
}
.btn:hover {
  background: #dbdbdb;
  transition: 0.2s;
}

#list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}

#list-fixed {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

#hint {
  width: 450px;
  margin: 40px auto 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 25px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.2);
}

.notes {
  margin-bottom: 1rem;
  width: 250px;
  list-style-type: none;
  border-radius: 20px;
  background: #fff;
  margin-left: 1rem;
  overflow-wrap: break-word;
  &-check-btns {
    display: flex;
    justify-content: space-between;
    label input {
      display: none;
    }
    .custom-checkbox {
      height: 20px;
      width: 20px;
      border: 4px solid black;
      display: inline-block;
      position: relative;
      background-color:#FFF;
      border-radius: 2rem;
      padding:3px;
    }
    .notes-check-btns-checkbox input[type=checkbox]:checked + span:before {
      content: "\e5ca";
      position: absolute;
      top: -4px;
      left: -3px;
      font-size: 33px;
      color:block;
    }
    .custom-radio {
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 2px solid black;
      border-radius: 50%;
      cursor: pointer;
    }
    .notes-check-btns-radio input[type=checkbox]:checked + .custom-radio {
      background-color: black;
      border-color: black;
    }
  }

  .text {
    margin: 15px 18px 0 18px;
    max-width: 240px;
  }
  .text[contentEditable] {
    padding: 5px 10px 5px 10px;
    margin-right: 1rem;
    border-radius: 5px;
    background-color: $secondColor;
    outline: none;
  }
  &-btns {
    display: flex;
    justify-content: right;
    &-secure:not(:last-child) {
      margin: 0 -5px 0 0;
    }
  }
}