@import "libs/normalize";
@import "style/__base";

/* fonts */
@font-face {
  font-family: 'Inter';
  src: url('/src/fonts/Inter-Regular.eot');
  src: local('Inter Regular'), local('Inter-Regular'),
      url('/src/fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/Inter-Regular.woff2') format('woff2'),
      url('/src/fonts/Inter-Regular.woff') format('woff'),
      url('/src/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* style of header */
.main-header {
  display: flex;
  height: 64px;
  background: $firstColor;
  align-items: center;
  &-logo {
    margin-left: 27px;
  }
  &-search {
    position: relative;
    padding: 0 54px 0 0;
    margin: 0 auto;
    display: flex;
    background: #fff;
    border-radius: 10px;
    align-items: center;
    transition: none;
    &-icon {
      margin: 12px 12px 8px 12px;
    }
    &-input {
      width: 530px;
      height: 47px;
      border: none;
      outline: none;
      font-size: 1rem;
    }
  }
  #btn-close-search {
    display: none;
  }
  #hint {
    opacity: 0;
    position: absolute;
    left: 68.4rem;
  }
}

/* style of menu */
.menu {
  width: 280px;
  height: 100%;
  flex-wrap: wrap;
  .btn-menu {
    margin: 21px 0 0 21px;
    padding: 10px;
    border-radius: 50px;
    &:hover {
      background: $firstColor;
      transition: 0.2s;
    }
    &-pages {
      display: flex;
      width: 180px;
      margin: 5px 0 5px 13px;
      padding: 18px 26px 18px 0;
      border-radius: 50px;
      transition: none;
      &:hover {
        background: $firstColor;
        transition: 0.2s;
      }
    }
    [data-id="1"] {
      background: $firstColor;
    }
    &-content {
       margin-left: 1.4rem;
       display: flex;
       align-items: center;
       pointer-events: none;
     }
    &-content p {
      margin: 0 0 0 10px;
      font-size: 15px;
    }
  }
}

/* style of fields */
/* main field */
.main-field {
  background: $secondColor;
  &-add {
    width: 539px;
    height: 44px;
    display: flex;
    margin: 47px auto 0;
    padding: 0 0 0 1.5rem;
    background: #fff;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.25);
    &-input {
      width: 539px;
      height: 44px;
      border: none;
      outline: none;
      font-size: 14px;
    }
  }
  &-btns {
    height: 100%;
    display: flex;
  }
  &-btn {
    padding: 10px;
    margin: 0 10px 0 0;
  }
  .hint {
    width: 450px;
    margin: 120px auto 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 25px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.2);
  }

  .notes {
    width: 250px;
    border-radius: 20px;
    background: #fff;
    margin-left: 1rem;
    overflow-wrap: break-word;
    &-check-btns {
      display: flex;
      justify-content: space-between;
      label input {
      display: none;
      }
      .custom-checkbox {
        height: 20px;
        width: 20px;
        border: 4px solid black;
        display: inline-block;
        position: relative;
        background-color:#FFF;
        border-radius: 2rem;
        padding:3px;
      }
      .notes-check-btns-checkbox input[type=checkbox]:checked + span:before {
        content: "\e5ca";
        position: absolute;
        top: -4px;
        left: -3px;
        font-size: 33px;
        color:block;
      }
      .custom-radio {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid black;
        border-radius: 50%;
        cursor: pointer;
      }
      .notes-check-btns-radio input[type=checkbox]:checked + .custom-radio {
        background-color: black;
        border-color: black;
      }
    }

    .text {
      margin: 15px 18px 0 18px;
      max-width: 240px;
    }
    .text[contentEditable] {
      padding: 5px 10px 5px 10px;
      margin-right: 1rem;
      border-radius: 5px;
      background-color: $secondColor;
      outline: none;
    }
    &-btns {
      display: flex;
      justify-content: right;
      &-secure:not(:last-child) {
        margin: 0 -5px 0 0;
      }
    }
  }
}

/* important field */
.important-field {
  display: none;
}

/* notes field */
.notes-field {
  display: none;
}

/* reminders field */
.reminders-field {
  display: none;
}
